*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    background: #010100;
    color: white;
  }
  body{
    width: 100%;
    height: 100vh; 
    background: #010100;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
  }
  .text-white{
    color: white;
  }
  .green-text{
    color: rgb(30, 215, 96);
  }
  .signup-btn{
    background-color: #1ed760;
    border: none;
    color: white;
  }
  .login-btn{
    background-color: white;
    border: none;
    color: black;
  }
  
  
  
  
  
  